.btn {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
    border: 1px solid transparent;
    border-radius: var(--border-radius-md);
}

.btn:hover {
    background-color: var(--primary-hover);
}

.btn:focus,
.btn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.btn-secondary {
    background-color: var(--gray-700);
}

.btn-secondary:hover {
    background-color: var(--gray-800);
}